.animate_border_bottom {
  margin-bottom: 10px;
}

.cool-link {
  display: inline-block;
  text-decoration: none;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #d4002a;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}
